<section class="container-router-outlet mb-4">
  <div class="card flex justify-content-center">
    <app-location></app-location>
  </div>
  <div class="w-6 pt-4 m-auto absolute"></div>
  <div class="flex-colum lg:flex pt-8">
    <div class="w-full text-center">
      <div class="text-primary-600 text-xl py-2">FULL-STACK WEB DEVELOPER</div>
      <div>
        <h1>JAVIER BARRERA</h1>
      </div>

      <div
        class="flex align-items-center w-full lg:w-4 m-auto text-left text-primary-600 text-base"
      >
        <p-divider class="p-divider-dotted" layout="vertical" />
        <h3>
          I am a web developer specialized in frontend with Angular. With a
          solid academic background and professional experience, I have worked
          on several projects that demonstrate my ability to create modern and
          efficient web applications.
        </h3>
      </div>
    </div>
    <div class="flex w-full justify-content-center align-items-center">
      <div class="lg:w-2 w-4 pl-3 flex">
        <div
          class="flex surface-400"
          style="width: 105px; height: 105px; border-radius: 50%"
        >
          <div
            class="m-auto text-center surface-500 cursor-pointer custom-hover"
          >
            <img
              alt="download"
              src="/assets/icons/download.png"
              class="w-5 m-auto mt-4"
              (click)="downloadPDF()"
            />
          </div>
        </div>
      </div>
      <div class="w-10">
        <img src="/assets/img/dev.png" class="lg:w-7 w-10 img-blur" />
      </div>
    </div>
  </div>
</section>

<section class="container-router-outlet" id="about-me">
  <div class="flex-colum lg:flex pt-6 align-items-center">
    <div class="hidden md:flex w-6 py-2">
      <div class="flex w-full justify-content-center align-items-center -mt-7">
        <img src="/assets/img/fondoA.png" class="w-8 circular-image" />
      </div>
    </div>

    <div class="lg:w-6 w-full flex-colum text-primary-700 md:-pt-8">
      <h1 class="text-center lg:text-left">
        About me
        <img
          src="/assets/icons-sections/marca-de-verificacion.png"
          class="icons-sections"
        />
      </h1>

      <p class="lg:w-8 w-11 text-center lg:text-left text-about-me">
        Hi! I'm Javier, a passionate web developer specialized in frontend, with
        a particular focus on
        <span class="font-bold" translate="no">Angular</span>. I have an
        advanced degree in Web Application Development and a year of
        professional experience in creating digital solutions, where I have had
        the opportunity to work on several projects that you will see in my
        portfolio. My passion for web development does not end there, since in
        addition to my formal training, I have invested time in acquiring
        knowledge through different courses on platforms like Udemy,
        complementing my education with an intensive bootcamp.
      </p>
      <p class="lg:w-8 w-11 text-center lg:text-left text-about-me">
        In total, I have spent more than three years learning and perfecting my
        skills, combining my academic studies with self-taught training. My
        specialty is frontend, where I master Angular and its ecosystem. I have
        worked with libraries such as
        <span class="font-bold" translate="no">PrimeNG</span> and
        <span class="font-bold" translate="no">PrimeFlex</span> to optimize the
        creation of attractive and functional user interfaces. In addition, I
        have used Ionic in mobile projects and I have experience managing
        databases such as
        <span class="font-bold" translate="no"> MongoDB , MySQL or Prisma</span
        >, which allows me to have a integral vision in application development
      </p>
      <p class="lg:w-8 w-11 text-center lg:text-left text-about-me">
        I am constantly looking for ways to improve my skills and keep myself
        updated with new trends in web development. I consider myself a
        self-taught, curious and detail-oriented person, with a great ability to
        communicate effectively with the team. This allows me to collaborate
        seamlessly with other developers, designers and stakeholders, ensuring
        that each project not only meets the technical requirements, but also
        provides the best user experience possible.
      </p>
      <p class="lg:w-8 w-11 text-center lg:text-left text-about-me">
        If you are interested in learning more about my work or how I can
        collaborate on your next project, don't hesitate to contact me. I'm sure
        that, working as a team, we can create something amazing.
      </p>
      <div class="button-container">
        <button pButton pRipple>
          <a
            class="no-underline text-white font-bold"
            href="/portfolio/home#contact"
            >Contact me
            <img
              src="/assets/icons-sections/contacto_white.png"
              style="height: 17px; margin-left: 3px"
            />
          </a>
        </button>
      </div>
    </div>
  </div>
</section>
