<section class="container-router-outlet">
  <div class="flex w-full">
    <div class="w-6 text-center">
      <div class="text-primary-600 text-xl py-2">FULL-STACK WEB DEVELOPER</div>
      <div
        class="text-primary-700 font-bold text-5xl text-left w-3 m-auto py-2"
      >
        JAVIER BARRERA
      </div>

      <div
        class="flex align-items-center text-primary-600 text-sm text-left w-4 m-auto py-2"
      >
        <p-divider layout="vertical" />
        <!-- TODO: AÑADIR DESCRIPCIÓN-->
        <h3>I'm a full-stack web developer and I work</h3>
      </div>
    </div>
    <div class="flex w-6 justify-content-center align-items-center">
        <div class="w-3 flex">
            <div class="flex surface-400" style="width: 105px; height: 105px; border-radius: 50%;">
                <div class="m-auto text-center surface-500 cursor-pointer custom-hover"> 
                    <img alt="download" src="/assets/img/download.png" class="w-5 m-auto mt-4 " />
                </div>
            </div>
        </div>
        <div class="w-9 surface-100 border-radius">img personal</div>
      </div>
  </div>
</section>
surface-500