.custom-hover {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s;
}

.custom-hover:hover {
  width: 90px;
  height: 90px;
}

.circular-image {
  border-radius: 100%; /* Hace que la imagen sea circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h3 {
  line-height: 1.3; /* Espaciado entre líneas */
}

p-divider {
  height: 12rem;
}

.text-about-me {
  margin-left: 12px;
  color: var(--primary-600);
  line-height: 1.4; /* Espaciado entre líneas */
}

/* Estilo general para el contenedor del botón */
.button-container {
  display: flex;
  justify-content: flex-start; /* Alinea el botón a la izquierda por defecto */
  margin-top: 1rem; /* Ajusta el margen superior según sea necesario */
}

/* Estilo para centrar el botón en pantallas pequeñas */
@media (max-width: 768px) {
  .button-container {
    justify-content: center; /* Centra el botón horizontalmente */
  }

  /* Asegúrate de que el botón no tenga márgenes que lo desalineen */
  button {
    margin-left: 0; /* Elimina el margen izquierdo del botón */
    margin-right: 0; /* Elimina el margen derecho del botón, si es necesario */
  }
}

.img-blur {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}
