<section class="container-router-outlet mb-6">
  <div class="flex w-full mt-4">
    <div class="w-6 text-center">
      <div class="text-primary-600 text-xl py-2">FULL-STACK WEB DEVELOPER</div>
      <div
        class="text-primary-700 font-bold text-5xl text-left w-3 m-auto py-2"
      >
        JAVIER BARRERA
      </div>

      <div
        class="flex align-items-center text-primary-600 text-sm text-left w-4 m-auto py-2"
      >
        <p-divider layout="vertical" />
        <!-- TODO: AÑADIR DESCRIPCIÓN-->
        <h3>I'm a full-stack web developer and I work</h3>
      </div>
    </div>
    <div class="flex w-6 justify-content-center align-items-center">
      <div class="w-2 flex">
        <div
          class="flex surface-400"
          style="width: 105px; height: 105px; border-radius: 50%"
        >
          <div
            class="m-auto text-center surface-500 cursor-pointer custom-hover"
          >
            <!-- TODO: AL HACER CLICK DESCARGAR CV EN PDF -->
            <img
              alt="download"
              src="/assets/img/download.png"
              class="w-5 m-auto mt-4"
            />
          </div>
        </div>
      </div>
      <!-- TODO: AÑADIR IMAGEN PERSSONAL -->
      <div class="w-9 border-radius mt-3">
        <img src="/assets/img/developer.png" class="w-7" />
      </div>
    </div>
  </div>
</section>

<!-- ABOUT ME -->
<section class="container-router-outlet mb-6">
  <div class="flex-rows w-full">
    <div class="text-primary-700 font-bold text-5xl w-6 ml-auto py-2">
      About me
    </div>
    <div class="flex py-2 gap-6">
      <!-- TODO: AÑADIR IMAGEN ORDENADOR CHULA -->
      <div class="flex w-6 justify-content-center align-items-center -mt-7">
        <img src="/assets/img/code.jpg" class="w-8 circular-image" />
      </div>
      <div class="flex-rows w-6 justify-content-center align-items-center">
        <p class="text-primary-600 w-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
          beatae voluptatem aperiam veritatis debitis quia explicabo magni,
          ducimus id perspiciatis quidem dignissimos odit assumenda placeat
          voluptatibus, pariatur numquam, saepe quaerat? Lorem ipsum dolor sit
          amet, consectetur adipisicing elit. Praesentium beatae voluptatem
          aperiam veritatis debitis quia explicabo magni, ducimus id
          perspiciatis quidem dignissimos odit assumenda placeat voluptatibus,
          pariatur numquam, saepe quaerat?
        </p>
        <p-button
          class="ml-2"
          label="Contact me"
          [rounded]="true"
          [raised]="true"
        />
      </div>
    </div>
  </div>
</section>
