<section class="container-router-outlet text-center mt-8">
  <h1 class="text-7xl font-bold text-gray-800">404</h1>
  <p class="text-xl text-gray-600 mt-4">
    Oops! The page you're looking for doesn't exist.
  </p>
  <p class="text-md text-gray-500 w-11 m-auto p-2">
    It looks like you took a wrong turn. Don't worry, it happens to the best of
    us!
  </p>
  <button pButton pRipple class="px-4 mt-3">
    <a href="/portfolio/home" class="no-underline text-white"
      >Go back to Home</a
    >
  </button>
</section>
