<section class="container-router-outlet p-8 responsive-display">
  <div class="text-center">
    <div>
      <h1>
        My Skills
        <img src="/assets/icons-sections/espadas.png" class="icons-sections" />
      </h1>
    </div>
  </div>

  <div class="pt-7">
    <div class="container-skills">
      <div class="logos">
        <div class="logos-slider">
          <img
            src="../../../../assets/icons-skills/Github_light.svg"
            alt="GitHub"
            title="GitHub"
          />
          <img
            src="../../../../assets/icons-skills/angular.svg"
            alt="Angular"
            title="Angular"
          />
          <img
            src="../../../../assets/icons-skills/css.svg"
            alt="CSS3"
            title="CSS3"
          />
          <img
            src="../../../../assets/icons-skills/gitlab.svg"
            alt="GitLab"
            title="GitLab"
          />
          <img
            src="../../../../assets/icons-skills/html5.svg"
            alt="HTML5"
            title="HTML5"
          />
          <img
            src="../../../../assets/icons-skills/mongodb.svg"
            alt="MongoDB"
            title="MongoDB"
          />
          <img
            src="../../../../assets/icons-skills/javascript.svg"
            alt="JavaScript"
            title="JavaScript"
          />
          <img
            src="../../../../assets/icons-skills/mysql.svg"
            alt="MySQL"
            title="MySQL"
          />
          <img
            src="../../../../assets/icons-skills/PrimeFlexLogo.svg"
            alt="PrimeFlex"
            title="PrimeFlex"
          />
          <img
            src="../../../../assets/icons-skills/typescript.svg"
            alt="TypeScript"
            title="TypeScript"
          />
          <img
            src="../../../../assets/icons-skills/linux.svg"
            alt="Linux"
            title="Linux"
          />
        </div>
        <div class="logos-slider">
          <img
            src="../../../../assets/icons-skills/Github_light.svg"
            alt="GitHub"
            title="GitHub"
          />
          <img
            src="../../../../assets/icons-skills/angular.svg"
            alt="Angular"
            title="Angular"
          />
          <img
            src="../../../../assets/icons-skills/css.svg"
            alt="CSS3"
            title="CSS3"
          />
          <img
            src="../../../../assets/icons-skills/gitlab.svg"
            alt="GitLab"
            title="GitLab"
          />
          <img
            src="../../../../assets/icons-skills/html5.svg"
            alt="HTML5"
            title="HTML5"
          />
          <img
            src="../../../../assets/icons-skills/mongodb.svg"
            alt="MongoDB"
            title="MongoDB"
          />
          <img
            src="../../../../assets/icons-skills/javascript.svg"
            alt="JavaScript"
            title="JavaScript"
          />
          <img
            src="../../../../assets/icons-skills/mysql.svg"
            alt="MySQL"
            title="MySQL"
          />
          <img
            src="../../../../assets/icons-skills/PrimeFlexLogo.svg"
            alt="PrimeFlex"
            title="PrimeFlex"
          />
          <img
            src="../../../../assets/icons-skills/typescript.svg"
            alt="TypeScript"
            title="TypeScript"
          />
          <img
            src="../../../../assets/icons-skills/linux.svg"
            alt="Linux"
            title="Linux"
          />
        </div>
      </div>
    </div>

    <div class="container-skills">
      <div class="logos">
        <div class="logos-slider2">
          <img
            src="../../../../assets/icons-skills-2/git.svg"
            alt="Git"
            title="Git"
          />
          <img
            src="../../../../assets/icons-skills-2/azure.svg"
            alt="Azure"
            title="Azure"
          />
          <img
            src="../../../../assets/icons-skills-2/firebase.svg"
            alt="firebase"
            title="firebase"
          />
          <img
            src="../../../../assets/icons-skills-2/nodejs.svg"
            alt="NodeJs"
            title="NodeJs"
          />
          <img
            src="../../../../assets/icons-skills-2/primeNG.png"
            alt="PrimeNG"
            title="PrimeNG"
          />
          <img
            src="../../../../assets/icons-skills-2/postman.svg"
            alt="Postman"
            title="Postman"
          />
          <img
            src="../../../../assets/icons-skills-2/Prisma_light.svg"
            alt="Prisma"
            title="Prisma"
          />
          <img
            src="../../../../assets/icons-skills-2/react.svg"
            alt="React"
            title="React"
          />
          <img
            src="../../../../assets/icons-skills-2/vscode.svg"
            alt="VSCode"
            title="VSCode"
          />
          <img
            src="../../../../assets/icons-skills-2/Express.js.svg"
            alt="Express"
            title="Express"
          />
        </div>
        <div class="logos-slider2">
          <img
            src="../../../../assets/icons-skills-2/git.svg"
            alt="Git"
            title="Git"
          />
          <img
            src="../../../../assets/icons-skills-2/azure.svg"
            alt="Azure"
            title="Azure"
          />
          <img
            src="../../../../assets/icons-skills-2/firebase.svg"
            alt="firebase"
            title="firebase"
          />
          <img
            src="../../../../assets/icons-skills-2/nodejs.svg"
            alt="NodeJs"
            title="NodeJs"
          />
          <img
            src="../../../../assets/icons-skills-2/primeNG.png"
            alt="PrimeNG"
            title="PrimeNG"
          />
          <img
            src="../../../../assets/icons-skills-2/postman.svg"
            alt="Postman"
            title="Postman"
          />
          <img
            src="../../../../assets/icons-skills-2/Prisma_light.svg"
            alt="Prisma"
            title="Prisma"
          />
          <img
            src="../../../../assets/icons-skills-2/react.svg"
            alt="React"
            title="React"
          />
          <img
            src="../../../../assets/icons-skills-2/vscode.svg"
            alt="VSCode"
            title="VSCode"
          />
          <img
            src="../../../../assets/icons-skills-2/Express.js.svg"
            alt="Express"
            title="Express"
          />
        </div>
      </div>
    </div>
  </div>
</section>
