<!-- <section class="container-router-outlet pb-8">
  <div class="flex flex-column w-8 m-auto">
    <div class="text-primary-700 font-bold text-5xl ml-3 mb-5">My Skills</div>
    <div class="flex p-card p-4 justify-content-center gap-7">

      <div class="flex flex-column align-items-center gap-3 w-6">
        <div class="w-full" *ngFor="let skill of skills">
          <div class="flex align-items-center gap-4 w-full">
            <img [src]="skill.logo" alt="Skill Logo" class="logo-small-skill" />
            <div class="w-full">
              <p-progressBar
                [value]="skill.value"
                class="w-full"
              ></p-progressBar>
            </div>
          </div>
        </div>
      </div>


      <div class="flex flex-column align-items-center gap-3 w-6">
        <div class="card w-full" *ngFor="let skill of skills2">
          <div class="flex align-items-center gap-4 w-full">
            <img [src]="skill.logo" alt="Skill Logo" class="logo-small-skill" />
            <div class="w-full">
              <p-progressBar
                [value]="skill.value"
                class="w-full"
              ></p-progressBar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="container-router-outlet p-8">
  <div class="text-center p-6">
    <div>
      <h1>My Skills</h1>
    </div>
  </div>

  <div class="flex w-full">
    <div class="flex w-8 container-skills">
      <div class="logos">
        <div class="logos-slider">
          <img
            src="../../../../assets/icons-skills/Github_light.svg"
            alt="GitHub"
            title="GitHub"
          />
          <img
            src="../../../../assets/icons-skills/angular.svg"
            alt="Angular"
            title="Angular"
          />
          <img
            src="../../../../assets/icons-skills/css.svg"
            alt="CSS3"
            title="CSS3"
          />
          <img
            src="../../../../assets/icons-skills/gitlab.svg"
            alt="GitLab"
            title="GitLab"
          />
          <img
            src="../../../../assets/icons-skills/html5.svg"
            alt="HTML5"
            title="HTML5"
          />
          <img
            src="../../../../assets/icons-skills/mongodb.svg"
            alt="MongoDB"
            title="MongoDB"
          />
          <img
            src="../../../../assets/icons-skills/javascript.svg"
            alt="JavaScript"
            title="JavaScript"
          />
          <img
            src="../../../../assets/icons-skills/mysql.svg"
            alt="MySQL"
            title="MySQL"
          />
          <img
            src="../../../../assets/icons-skills/PrimeFlexLogo.svg"
            alt="PrimeFlex"
            title="PrimeFlex"
          />
          <img
            src="../../../../assets/icons-skills/typescript.svg"
            alt="TypeScript"
            title="TypeScript"
          />
        </div>
        <div class="logos-slider">
          <img
            src="../../../../assets/icons-skills/Github_light.svg"
            alt="GitHub"
            title="GitHub"
          />
          <img
            src="../../../../assets/icons-skills/angular.svg"
            alt="Angular"
            title="Angular"
          />
          <img
            src="../../../../assets/icons-skills/css.svg"
            alt="CSS3"
            title="CSS3"
          />
          <img
            src="../../../../assets/icons-skills/gitlab.svg"
            alt="GitLab"
            title="GitLab"
          />
          <img
            src="../../../../assets/icons-skills/html5.svg"
            alt="HTML5"
            title="HTML5"
          />
          <img
            src="../../../../assets/icons-skills/mongodb.svg"
            alt="MongoDB"
            title="MongoDB"
          />
          <img
            src="../../../../assets/icons-skills/javascript.svg"
            alt="JavaScript"
            title="JavaScript"
          />
          <img
            src="../../../../assets/icons-skills/mysql.svg"
            alt="MySQL"
            title="MySQL"
          />
          <img
            src="../../../../assets/icons-skills/PrimeFlexLogo.svg"
            alt="PrimeFlex"
            title="PrimeFlex"
          />
          <img
            src="../../../../assets/icons-skills/typescript.svg"
            alt="TypeScript"
            title="TypeScript"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- <section class="container-skills">
    <div class="logos">
      <div class="logos-slider2">
        <img
          src="../../../../assets/icons-skills-2/git.svg"
          alt="Git"
          title="Git"
        />
        <img
          src="../../../../assets/icons-skills-2/azure.svg"
          alt="Azure"
          title="Azure"
        />
        <img
          src="../../../../assets/icons-skills-2/firebase.svg"
          alt="firebase"
          title="firebase"
        />
        <img
          src="../../../../assets/icons-skills-2/nodejs.svg"
          alt="NodeJs"
          title="NodeJs"
        />
        <img
          src="../../../../assets/icons-skills-2/primeNG.png"
          alt="PrimeNG"
          title="PrimeNG"
        />
        <img
          src="../../../../assets/icons-skills-2/postman.svg"
          alt="Postman"
          title="Postman"
        />
        <img
          src="../../../../assets/icons-skills-2/Prisma_light.svg"
          alt="Prisma"
          title="Prisma"
        />
        <img
          src="../../../../assets/icons-skills-2/react.svg"
          alt="React"
          title="React"
        />
        <img
          src="../../../../assets/icons-skills-2/vscode.svg"
          alt="VSCode"
          title="VSCode"
        />
      </div>
      <div class="logos-slider2">
        <img
          src="../../../../assets/icons-skills-2/git.svg"
          alt="Git"
          title="Git"
        />
        <img
          src="../../../../assets/icons-skills-2/azure.svg"
          alt="Azure"
          title="Azure"
        />
        <img
          src="../../../../assets/icons-skills-2/firebase.svg"
          alt="firebase"
          title="firebase"
        />
        <img
          src="../../../../assets/icons-skills-2/nodejs.svg"
          alt="NodeJs"
          title="NodeJs"
        />
        <img
          src="../../../../assets/icons-skills-2/primeNG.png"
          alt="PrimeNG"
          title="PrimeNG"
        />
        <img
          src="../../../../assets/icons-skills-2/postman.svg"
          alt="Postman"
          title="Postman"
        />
        <img
          src="../../../../assets/icons-skills-2/Prisma_light.svg"
          alt="Prisma"
          title="Prisma"
        />
        <img
          src="../../../../assets/icons-skills-2/react.svg"
          alt="React"
          title="React"
        />
        <img
          src="../../../../assets/icons-skills-2/vscode.svg"
          alt="VSCode"
          title="VSCode"
        />
      </div>
    </div>
  </section> -->
</section>
