<!-- Menu horizontal -->
<div class="min-h-screen flex flex-col relative flex-auto">
  <div class="nav-container">
    <div class="nav-background"></div>
    <h3 class="title">Javier BL</h3>
    <nav class="nav-links gap-3 md:gap-7">
      <div class="flex m-auto gap-7">
        <a
          href="/portfolio/home"
          class="links-nav"
          onclick="window.scrollTo(0, 0)"
          routerLink="/portfolio/home"
          routerLinkActive="active"
          >Home</a
        >
        <a href="/portfolio/home#about-me" class="links-nav">About me</a>
      </div>
      <div class="flex m-auto gap-7">
        <a
          href="/portfolio/projects"
          class="links-nav"
          onclick="window.scrollTo(0, 0)"
          routerLink="/portfolio/projects"
          routerLinkActive="active"
          >Projects</a
        >
        <a href="/portfolio/home#contact" class="links-nav">Contact</a>
      </div>
    </nav>
  </div>
  <button
    class="scroll-to-top"
    aria-label="Scroll to top"
    (click)="scrollToTop()"
  >
    <img src="/assets/icons/flecha-arriba.png" class="logo-scroll" />
  </button>

  <router-outlet></router-outlet>
</div>
