<footer
  class="flex flex-column align-items-center surface-600 mt-8 pb-4 border-top"
>
  <!-- Primera fila: Texto centrado -->
  <div class="text-center">
    <p class="text-white font-bold text-2xl">Javier Barrera</p>
  </div>

  <!-- Segunda fila: Logos centrados -->
  <div class="flex justify-content-center gap-5 mb-4">
    <a [href]="gitHubUrl" target="_blank" rel="noopener noreferrer">
      <img
        src="/assets/img/Github_light.svg"
        alt="Github_light"
        class="logo-small"
    /></a>

    <a [href]="gitLabUrl" target="_blank" rel="noopener noreferrer">
      <img src="/assets/img/gitlab.svg" alt="gitlab" class="logo-small" />
    </a>

    <a [href]="linkedinUrl" target="_blank" rel="noopener noreferrer">
      <img src="/assets/img/linkedin.png" alt="linkedin" class="logo-small" />
    </a>
  </div>

  <!-- Tercera fila: Span centrado -->
  <div class="text-center">
    <span class="text-sm text-white"
      >© 2024 Javier Barrera. All rights reserved</span
    >
  </div>
</footer>
