.card {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-700));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  height: 155px;
}

.card:hover {
  transform: rotate(1.2deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Efecto de hover */
}

.content-card {
  color: #fff;
  position: relative;
}

.card-1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/assets/icons-education/cesur.png") no-repeat center;
  background-size: contain;
  opacity: 0.4;
}

.card-2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/assets/icons-education/udemy.png") no-repeat center;
  background-size: contain;
  opacity: 0.3;
}

.card-3::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/assets/icons-education/udemy.png") no-repeat center;
  background-size: contain;
  opacity: 0.3;
}

.card-4::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/assets/icons-education/tendencia-ascendente.png") no-repeat
    center;
  background-size: contain;
  opacity: 0.3;
}

.title-education {
  color: var(--surface-500);
  font-weight: bold;
}

.center-education {
  font-weight: bold;
  font-size: 21px;
}
