<section class="container-contact p-4">
  <div class="text-center p-6">
    <div>
      <h1>
        Education
        <img src="/assets/icons-sections/lapiz.png" class="icons-sections" />
      </h1>
    </div>
  </div>

  <div class="m-auto flex-colum w-11 grid gap-5">
    <!-- Tarjeta 1 -->
    <div class="m-auto card card-1 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 p-1 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Cesur</h3>
          <span>February 2024</span>
        </div>
        <!-- Descripción -->
        <p>
          Advanced technician in
          <span class="title-education">Web Application Development </span>
        </p>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="m-auto card card-2 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 p-1 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Udemy</h3>
          <span>December 2023</span>
        </div>
        <!-- Descripción -->
        <p>
          <span class="title-education">Angular:</span> from zero to expert (46
          hours)
        </p>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="m-auto card card-3 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 p-1 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Udemy</h3>
          <span>December 2023</span>
        </div>
        <!-- Descripción -->
        <p>
          <span class="title-education">Typescript:</span> Your complete guide
          and manual (9 hours)
        </p>
      </div>
    </div>

    <!-- Tarjeta 4 -->
    <div class="m-auto card card-3 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 p-1 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Udemy</h3>
          <span>February 2024</span>
        </div>
        <!-- Descripción -->
        <p>
          <span class="title-education">Legacy - Node:</span> From Zero to
          Expert (29 hours)
        </p>
      </div>
    </div>

    <!-- Tarjeta 5 -->
    <div class="m-auto card card-3 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 p-1 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Udemy</h3>
          <span>August 2024</span>
        </div>
        <!-- Descripción -->
        <p>
          <span class="title-education">Ionic: </span>Create Android and iOS
          apps from scratch (20 hours)
        </p>
      </div>
    </div>

    <!-- Tarjeta 6 -->
    <div class="m-auto card card-4 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 p-1 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Self-education</h3>
          <span>Permanent</span>
        </div>
        <!-- Descripción -->
        <p>
          I continue to learn continuously in various
          <span class="title-education">technologies and software</span>
          development methodologies
        </p>
      </div>
    </div>
  </div>
</section>
