<section class="container-contact p-5">
  <div class="text-center p-6">
    <div>
      <h1>
        Education
        <img src="/assets/icons-sections/lapiz.png" class="icons-sections" />
      </h1>
    </div>
  </div>

  <div class="m-auto flex-colum w-11 grid gap-5">
    <!-- Tarjeta 1 -->
    <div class="m-auto card card-1 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 px-1 py-2 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Cesur training</h3>
          <span>February 2024</span>
        </div>
        <!-- Descripción -->
        <p>Advanced technician in web application development</p>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="m-auto card card-2 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 px-1 py-2 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Cesur training</h3>
          <span>February 2024</span>
        </div>
        <!-- Descripción -->
        <p>Advanced technician in web application development</p>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="m-auto card card-3 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 px-1 py-2 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Cesur training</h3>
          <span>February 2024</span>
        </div>
        <!-- Descripción -->
        <p>Advanced technician in web application development</p>
      </div>
    </div>

    <!-- Tarjeta 4 -->
    <div class="m-auto card card-4 relative border-round col-12 lg:col-5">
      <!-- Contenido de la tarjeta -->
      <div class="lg:px-3 px-1 py-2 content-card">
        <!-- Fila para título y fecha -->
        <div class="flex justify-content-between align-items-center">
          <h3 class="text-xl font-bold">Cesur training</h3>
          <span>February 2024</span>
        </div>
        <!-- Descripción -->
        <p>Advanced technician in web application development</p>
      </div>
    </div>
  </div>
</section>
