<section class="container-router-outlet">
  <div class="text-primary-700 font-bold text-5xl text-center p-5">
    Proyects
  </div>
  <div class="pb-5">
    <p class="text-center">
      En este apartado cuanto un poco que vopy a mostrar en todos los proyectos
      que he estado involucrado
    </p>
  </div>

  <!-- Mrkir es un marketplace -->

  <app-proyect
    title="VALORIZA"
    description="
    Valoriza is a web application designed to efficiently manage a company's key information, 
    with special emphasis on the administration of its machinery, ITVs, odometers, kilometers and workers, among others. 
    The application has multiple screens where data tables and search forms are presented, allowing users to query, 
    filter and manage large volumes of information in a clear and simple way."
    role="
    As a frontend developer, I was in charge of building the interfaces using Angular, where I painted the data screens 
    obtained from the backend in .NET. I implemented pivot tables to visualize the information, as well as modals with Ionic 
    for object creation and editing. For the layout I used PrimeNG and PrimeFlex, and version control was done in Azure DevOps.
"
    tecnologies="

    Frontend: Angular
    Layout: PrimeNG, PrimeFlex
    Dynamic modules: Ionic
    Version control: Azure DevOps
    "
    link="https://github.com/29jbarrera/ValorizaFrontend"
    [imageUrl]="['/assets/img-proyects/valoriza.png' , '/assets/img-proyects/valoriza-1.png']"
  >
  </app-proyect>

  <!-- AÑADIR LINK KOMANDERO -->
  <app-proyect
    title="KOMANDERO"
    description="
    Bar Management is an application designed for the administration of bars, allowing to manage orders, print tickets and invoices, and manage users with specific roles. Each bar using the application can create and manage its users, grant permissions, edit the product menu, modify ingredients,
     add or delete dishes, manage invoices, accept online orders and change their status."
    link="Go to proyect"
    role=" 
    As a frontend developer, I was in charge of the layout of the different web pages, creating the navigation menu,
    as well as the data tables and modals to edit objects. I used Angular to build the interfaces, integrating modals 
    with Ionic and managing the frontend communications with the backend using TRPC, which facilitated a more fluid and 
    efficient interaction with the data. I also used PrimeNG and PrimeFlex to ensure a modern and responsive design. 
    Version control was performed in GitLab."
    tecnologies="
    Frontend: Angular
    Layout: PrimeNG, PrimeFlex
    Dynamic Modals: Ionic
    Communication with the backend: TRPC
    Version control: GitLab"
    [imageUrl]="['/assets/img-proyects/km.png' , '/assets/img-proyects/km1.png', '/assets/img-proyects/km2.png', 
    '/assets/img-proyects/km3.png', '/assets/img-proyects/km4.png', '/assets/img-proyects/km5.png']"
    [reverse]="true"
  >
  </app-proyect>

  <app-proyect
    title="MARKET PLACE"
    description="
    This project is a marketplace, a platform where users can buy and sell products. 
    The application allows users to search for products through advanced filters, view item details,
     and manage purchases and sales efficiently."
    role="
    As a frontend developer, I was in charge of the layout of the different pages of the marketplace using PrimeNG and PrimeFlex.
    I developed tables to show the available products and configured advanced search filters to improve the user experience. 
    My focus was on creating intuitive and functional interfaces, allowing users to find and manage products easily and quickly."
    tecnologies=" Frontend: Angular
    Layout: PrimeNG, PrimeFlex
    Version control: GitLab"
    link="https://github.com/29jbarrera/Mirk"
    [imageUrl]="['/assets/img-proyects/mirk.png' , '/assets/img-proyects/mirk-1.png', 
    '/assets/img-proyects/mirk-2.png', '/assets/img-proyects/mirk-3.png']"
  >
  </app-proyect>

  <app-proyect
    title="GESTIÓN DE GASTOS PERSONALES"
    description="This project is a web application designed for personal expense management. Users can register, 
    add their expenses and income, and set a monthly savings goal. The application allows selecting a specific year and month to enter,
     edit or delete expenses and income. Each month provides a detailed summary, and an annual summary showing progress toward savings 
     goals can also be viewed."
    role="
    This project was developed entirely by me, from frontend to backend. I used Angular to create a user-friendly and 
    dynamic interface, while Node.js and MongoDB take care of the backend and database, respectively. I took care of the complete
     integration between frontend and backend, allowing the user to manage their personal finances in a simple and efficient way."
    tecnologies="
    Frontend: Angular
    Backend: Node.js
    Database: MongoDB
    Version control: GitHub"
    link="https://github.com/29jbarrera/Gestion-de-Gastos-Personales"
    [imageUrl]="['/assets/img-proyects/Gestion-gastos-1.png' , '/assets/img-proyects/Gestion-gastos.png']"
    [reverse]="true"
  >
  </app-proyect>

  <!-- AÑADIR enlace correcto o deactivarlo -->
  <app-proyect
    title="EL REMATE BAR Y TAPAS"
    description="This project consists of the creation of a website for a restaurant, made in WordPress using Elementor.
     The website allows users to view key information about the restaurant, such as location, menu (accessible through a QR code) 
     and booking details. The main goal is to offer customers a simple and straightforward experience to get all the information 
     about the restaurant."
    role=" 
    I developed the site using WordPress and the Elementor plugin to layout the different sections. 
    I implemented a menu display system using a QR code, as well as ensuring that all the restaurant information,
     such as location and reservation details, was easily accessible to users."
    tecnologies=" 
    CMS: WordPress
    Visual builder: Elementor"
    link=""
    [imageUrl]="['/assets/img-proyects/remate.png' , '/assets/img-proyects/Remate-1.png', '/assets/img-proyects/Remate-2.png']"
  >
  </app-proyect>
</section>

<app-footer></app-footer>
