<section class="container-router-outlet">
  <div class="text-primary-700 font-bold text-5xl text-center p-5">
    Proyects
  </div>
  <div class="pb-5">
    <p class="text-center">
      En este apartado cuanto un poco que vopy a mostrar en todos los proyectos
      que he estado involucrado
    </p>
  </div>

  <!-- Mrkir es un marketplace -->

  <app-proyect
    title="Mi Proyecto"
    description="Esta es una descripción detallada de mi proyecto. Aquí puedes poner información adicional.Esta es una descripción detallada de mi proyecto. Aquí puedes poner información adicional."
    link="Go to proyect"
    imageUrl="/assets/img-proyects/km.png"
  >
  </app-proyect>

  <app-proyect
    title="Otro Proyecto"
    description="Descripción de otro proyecto.Esta es una descripción detallada de mi proyecto. Aquí puedes poner información adicional.Esta es una descripción detallada de mi proyecto. Aquí puedes poner información adicional."
    link="Go to proyect"
    imageUrl="/assets/img-proyects/mirk-1.png"
    [reverse]="true"
  >
  </app-proyect>

  <app-proyect
    title="Otro Proyecto"
    description="Descripción de otro proyecto.Esta es una descripción detallada de mi proyecto. Aquí puedes poner información adicional.Esta es una descripción detallada de mi proyecto. Aquí puedes poner información adicional."
    link="Go to proyect"
    imageUrl="/assets/img-proyects/mirk-1.png"
  >
  </app-proyect>
</section>

<app-footer></app-footer>
