
p {
    font-size: 1.2rem; /* Tamaño de letra mayor para el párrafo */
    color: var(--primary-600);
    line-height: 1.7; /* Espaciado entre líneas */
    max-width: 800px; /* Limitar el ancho del texto */
    margin: 0 auto; /* Centrar el párrafo */
    padding: 15px; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados */
  }