<section class="container-contact p-5">
  <div class="text-center p-6">
    <div class="text-primary-700 font-bold text-5xl" id="contact">Contact</div>
  </div>

  <div class="gap-6 md:flex flex-colum ">
    <div class="w-full md:w-8 md:mb-0 mb-6">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="p-2 grid form-contact border-dashed">
          <div class="col-12 lg:col-6">
            <input
              id="name"
              formControlName="name"
              class="w-full input-text-form"
              type="text"
              placeholder="Name..."
              pInputText
            />
          </div>
          <div class="col-12 lg:col-6">
            <input
              id="email"
              formControlName="email"
              class="w-full input-text-form"
              type="email"
              placeholder="Email..."
              pInputText
            />
          </div>
          <div class="col-12">
            <input
              id="subject"
              formControlName="subject"
              class="w-full input-text-form"
              type="text"
              placeholder="Subject..."
              pInputText
            />
          </div>
          <div class="col-12">
            <textarea
              id="float-input"
              formControlName="message"
              class="w-full input-text-form"
              rows="7"
              cols="30"
              placeholder="Message..."
              pInputTextarea
              maxlength="5000"
            ></textarea>
          </div>
          <div class="col-12 flex justify-content-end px-5">
            <button
              pButton
              pRipple
              label="Submit"
              class="p-button-success"
              type="submit"
            ></button>
          </div>
        </div>
      </form>
    </div>

    <div class="p-2 grid form-contact border-dashed">
      <div class="w-4 flex-column align-content-center">
        <div class="px-6 py-3 flex align-items-center gap-4">
          <a
            href="https://www.linkedin.com/in/javier-barrera-l%C3%B3pez/"
            class="flex align-items-center gap-4"
            target="_blank"
          >
            <img
              class="logo-contact"
              src="/assets/icons/linkedin.png"
              alt="Linkedin"
            />
            <span>linkedin.com/in/javier-barrera-lopez </span>
          </a>
        </div>
        <div class="px-6 py-3 flex align-items-center gap-4">
          <a
            href="https://github.com/29jbarrera"
            class="flex align-items-center gap-4"
            target="_blank"
          >
            <img
              class="logo-contact"
              src="/assets/icons/github.png"
              alt="GitHub"
            />
            <span>github.com/29jbarrera </span>
          </a>
        </div>
        <div class="px-6 py-3 flex align-items-center gap-4">
          <a
            href="https://gitlab.com/29jbarrera"
            class="flex align-items-center gap-4"
            target="_blank"
          >
            <img
              class="logo-contact"
              src="/assets/icons/gitlab.png"
              alt="GitLab"
            />
            <span>gitlab.com/29jbarrera </span>
          </a>
        </div>
        <div class="px-6 py-3 flex align-items-center gap-4">
          <a
            href="https://t.me/JavierBL"
            class="flex align-items-center gap-4"
            target="_blank"
          >
            <img
              class="logo-contact"
              src="/assets/icons/telegrama.png"
              alt="Telegram"
            />
            <span>Telegram</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
