<section class="container-contact p-5 pb-8" id="contact">
  <div class="text-center p-6">
    <div>
      <h1>
        Contact
        <img src="/assets/icons-sections/contacto.png" class="icons-sections" />
      </h1>
    </div>
  </div>

  <p-progressSpinner
    class="spinner custom-spinner"
    styleClass="w-7rem h-7rem "
    strokeWidth="4"
    animationDuration=".8s"
    *ngIf="loading"
    ariaLabel="loading"
  />

  <div class="gap-6 md:flex flex-colum">
    <div class="w-full md:w-8 md:mb-0 mb-6">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="p-2 grid form-contact border-dashed">
          <div class="col-12 lg:col-6">
            <input
              id="name"
              formControlName="name"
              class="w-full input-text-form"
              type="text"
              placeholder="Name..."
              pInputText
            />
          </div>
          <div class="col-12 lg:col-6">
            <input
              id="email"
              formControlName="email"
              class="w-full input-text-form"
              type="email"
              placeholder="Email..."
              pInputText
            />
          </div>
          <div class="col-12">
            <input
              id="subject"
              formControlName="subject"
              class="w-full input-text-form"
              type="text"
              placeholder="Message subject..."
              pInputText
            />
          </div>
          <div class="col-12">
            <textarea
              id="float-input"
              formControlName="message"
              class="w-full input-text-form"
              rows="7"
              cols="30"
              placeholder="Message..."
              pInputTextarea
              maxlength="5000"
            ></textarea>
          </div>

          <div class="col-12 px-2 -mt-4 -mb-4">
            <p-messages
              [(value)]="messages"
              [enableService]="false"
              [closable]="false"
            />
          </div>
          <div class="col-12 md:flex flex-colum justify-content-between px-2">
            <div>
              <re-captcha
                siteKey="{{ reCaptchaSiteKey }}"
                (resolved)="handleSuccess($event)"
                (error)="handleError()"
              ></re-captcha>
            </div>

            <div class="mt-3 lg:mt-0 justify-content-end pr-2">
              <button
                pButton
                pRipple
                label="Submit"
                class="p-button-success font-bold"
                type="submit"
              ></button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="p-2 grid form-contact border-dashed">
      <div class="w-4 flex-column align-content-center">
        <div class="px-6 py-3 flex align-items-center gap-4">
          <a
            href="https://www.linkedin.com/in/javier-barrera-l%C3%B3pez/"
            class="flex align-items-center gap-4"
            target="_blank"
          >
            <img
              class="logo-contact"
              src="/assets/icons/linkedin.png"
              alt="Linkedin"
            />
            <span class="font-semibold"
              >linkedin.com/in/javier-barrera-lopez
            </span>
          </a>
        </div>
        <div class="px-6 py-3 flex align-items-center gap-4">
          <a
            href="https://github.com/29jbarrera"
            class="flex align-items-center gap-4"
            target="_blank"
          >
            <img
              class="logo-contact"
              src="/assets/icons/github.png"
              alt="GitHub"
            />
            <span class="font-semibold">github.com/29jbarrera </span>
          </a>
        </div>
        <div class="px-6 py-3 flex align-items-center gap-4">
          <a
            href="https://gitlab.com/29jbarrera"
            class="flex align-items-center gap-4"
            target="_blank"
          >
            <img
              class="logo-contact"
              src="/assets/icons/gitlab.png"
              alt="GitLab"
            />
            <span class="font-semibold">gitlab.com/29jbarrera </span>
          </a>
        </div>
        <div class="px-6 py-3 flex align-items-center gap-4">
          <a
            href="https://t.me/JavierBL"
            class="flex align-items-center gap-4"
            target="_blank"
          >
            <img
              class="logo-contact"
              src="/assets/icons/telegrama.png"
              alt="Telegram"
            />
            <span class="font-semibold">Telegram</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
